$colorPrimary: #4D71EF;
$colorPrimaryLight: #91A5C0;
$colorPrimaryLightExtra: rgba(145, 165, 192, 0.3);
$colorSecondary: #18A783;
$colorDisabled: #D6DEE6;

$colorText: #070B3C;
$colorTextLight: #67717A; 